:root {
	--primary-brand: #4D5AE5;
	--dark: #2E2F42;
	--success: #31D0AA;
	--text: #434455; 
	--subtle-Text: #8E8F99;
	--accent: #E7E9FC;
	--light: #F4F4FD;
	--standatr-white: #FFFFFF;
	--background-btn: #404BBF;
	--background-primery: #E5E5E5;
	--Customers-icon: #AFB1B8;
	}

.list {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.body {
	font-family: Roboto, sans-serif;
	color: var(--text);
	background-color: var(--standatr-white);
	/* width: 1440px; */
	/* margin-left: auto;
	margin-right: auto; */
	/* margin: 0; */
}

.container.list {
	display: flex;

}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* =====================================navigation=========================== */
.contact:focus,
.contact:hover {
	color: var(--primary-brand);
}

.contact,
.contact {
	color: var(--dark);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-transform: inherit;
	font-style: normal;
	text-decoration: none;
	display: flex;
}


.line-h::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: #404BBF;
	top: 44px;
}


/* --------------------------------header------------------- */
.logo {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	color: var(--dark);
	text-decoration: none;
	margin-right: 76px;
	/* padding-top: 24px; */
	/* padding-bottom: 24px; */
}

.header-bottom {
	border-bottom: 1px solid var(--accent);
	padding-top: 23px;
		padding-bottom: 23px;
}

.hero-background {
	background-color: var(--dark);
	background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
	background-position: center;


	color: var(--standatr-white);
	margin: auto;
	margin-bottom: 120px;
	text-align: center;
	padding-bottom: 188px;
	max-width: 1440px;
	max-height: 600px;
}

.hero {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	margin-top: 0;
	margin-bottom: 48px;
	padding-top: 188px;
}

.button-order:hover,
.button-order:focus {
	background-color: var(--background-btn);
}

.button-order {
	color: var(--standatr-white);
	background-color: var(--primary-brand);
	cursor: pointer;
	padding: 16px 32px;
	border: none;
	border-radius: 4px;
	/* margin-bottom: 188px; */
	transition-property: background, cursor;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop {
	background-color: rgba(46, 47, 66, 0.4);
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 88px;
	padding-bottom: 12px;
}

.modal {
	background: #FCFCFC;
	width: 408px;
	height: 576px;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 24px;
	position: relative;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close {
	border-radius: 50%;
	background: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 24px;
	font-size: 12px;
	transition-property: background, cursor;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding: 8px;
}

.close:is(:hover, :focus) {
	background: #404BBF;
	cursor: pointer;
}

.close-svg {
	width: 8px;
	height: 8px;
	display: block;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close:is(:hover, :focus) .close-svg {
	fill: #FFFFFF;
}

.is-hidden {
	display: none;
}

.benefits-h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-top: 0;
	margin-bottom: 8px;
}

.benefits-p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text);
}

.address-li {
	margin-right: 40px;
}

.address-li:last-child {
	margin-right: 0;
}

.header-li {
	margin-right: 40px;
	position: relative;
}

.header-li:last-child {
	margin-right: 0;
}

.header {
	display: flex;
	align-items: center;
	display: flex;
	width: 1158px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
/* padding-top: 24px;
padding-bottom: 28px; */
}

.header-address {
	display: flex;
	align-items: center;
}

.address {
	margin-left: auto;
}

.navigation-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 72px; */
}

.header-ul {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.container.header-text {
	display: flex;

}

.page-header {
	color: var(--dark);
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	line-height: 1.5;
	transition-property: сolor;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header:hover,
.page-header:focus {
	color: var(--primary-brand);
}

.header-text {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 72px;
	padding-top: 120px;
}


/* ----------------------Strategy--------------------------- */


.advantages {
	margin-top: 0;
	/* margin-bottom: 120px; */
	/* display: flex;
	align-items: stretch;
	 */
}

.advantages-text {
	display: flex;
}

.advantages-li {
	margin-right: 24px;
	width: 264px;
}

.advantages-li:last-child {
	margin-right: 0;
	
}



.bg-advantages {
	display: flex;
	background-color: var(--light);
	margin-bottom: 8px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	height: 112px;
}

.bd-svg {
	width: 64px;
	height: 64px;
	/* margin: 24px 102px; */
	background-color: var(--light);
}


.container-r {
	margin-left: auto;
	margin-right: auto;
	width: 1158px;
	/* outline: 1px solid red; */
	padding-left: 15px;
	padding-right: 15px;
	/* padding-bottom: 120px; */
}

/* -----------------------------What Are We Doing--------------- */
.img-doing {
		padding-left: 0;
	padding-right: 0;
	margin-bottom: 120px;
}

.doing-li {
	margin-right: 24px;
}

.doing-li:last-child {
	margin-right: 0;
}
/* ------------------------------------Our Team---------------------------------- */
.header-textlist {
	display: flex;
	padding-bottom: 120px;
	
}

.card-p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	margin-bottom: 8px;
	margin-top: 8px;
}

.img-pipl {
	background-color: var(--light);
	text-align: center;
	/* width: 1440px; */
	margin: auto;
	
}

.card-h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	/* padding-top: 32px; */
}

.icon-social {
	display: flex;
	justify-content: space-around;
}

.bg-social{
	width: 16px;
	height: 16px;
	
	/* display: flex; */
	/* margin-right: 10px; */
	/* padding-top: 40px; */
	align-self: center;
	
}

.cadr-group {
	padding: 32px 16px;

}
.icon-social-a {
	display: flex;
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
	justify-content: center;
	/* margin-bottom: 32px; */
	transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-a:hover,
.icon-social-a:focus {
	background-color: var(--background-btn);
}

.customers-h2{
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
	margin-top: 130px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--dark);
}

.customers {
	display: flex;
	padding-bottom: 120px;
	
}

.customers-a {
	display: block;
	padding: 16px 32px;
	
}

.customers-a:last-child {
	margin-right: 0;
}

.customers-oll {
	display: flex;
		width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;
		flex-direction: column;
}

.customers-icon {
	width: 104px;
	height: 56px;
	display: block;
	fill: var(--subtle-Text);
}

.customers-li {
	border: 1px solid var(--subtle-Text);
	border-radius: 4px;
	margin-right: 24px;
	width: 168px;
	height: 88px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}

.customers-li:is(:hover, :focus) {
	filter: invert(100%) sepia(100%) saturate(3250%) hue-rotate(220deg) brightness(80%) contrast(94%);   
		
}

.customers-li:last-child {
	margin-right: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1158px;
	/* outline: 1px solid red; */
	padding-left: 15px;
	padding-right: 15px;
	/* padding-bottom: 120px; */
	
}

.card {
	display: block;	
	background: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	margin-right: 24px;
}

.card-img {
	display: block;
}

.card:last-child {
	margin-right: 0px;
}

/* .main-oll {
	margin-top: 96px;
	margin-bottom: 120px;
} */


/* ----------------------------Portfolio-------------------------------------- */
.btn-nav {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
	margin-top: 96px;
}

.work-examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* padding-bottom: 32px; */
	/* margin: -10px; */
}

.work-li {
	background-color: #FFFFFF;
		margin-right: 24px;
		margin-bottom: 48px;
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
		transition-property: box-shadow;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		position: relative;
		overflow: hidden;
}

.work-li:nth-child(3n + 3) {
	margin-right: 0px;
}

.work-li:hover,
.work-li:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	cursor: pointer;
}

.button-nav {
		background: #F4F4FD;
		cursor: pointer;
		border: 1px solid #E7E9FC;
		border-radius: 4px;
		flex: none;
		order: 2;
		flex-grow: 0;
		padding: 12px 24px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: var(--primary-brand);
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-li {
margin-right: 24px;
}

.btn-li:last-child {
	margin-right: 0;
}

.overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #3f51b5;

	transform: translatey(100%);
	transition: transform 250ms ease;
}  
.work-li:is(:hover, :focus) .overlay {
	transform: translatex(0);
}

.work-li .overlay {
	background-color: #4D5AE5;
		width: 360px;
		position: absolute;
		margin-right: auto;
		margin-left: auto;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 40px;
		padding-bottom: 164px;
		color: #F4F4FD;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		transition-property: cursor, box-shadow, transform;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light)
	
		
}

.button-nav:hover,
.button-nav:focus {
	
	background-color: var(--background-btn);
	color: var(--standatr-white);
}

.examples-img {
	color: var(--dark);
	text-decoration: none;
	background: var(--standatr-white);
	/* margin-bottom: 32px; */
	position: relative;
	overflow: hidden;
}

.examples-box {
padding-top: 32px;
	border-bottom: 1px solid #E7E9FC;
	border-right: 1px solid #E7E9FC;
	border-left: 1px solid #E7E9FC;
	transition-property: border-bottom, border-left, border-right;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	background-color: #FFFFFF;
	transition-property: border-bottom, border-left, border-right;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-h2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 0;
	margin-top: 0;
	/* padding-top: 32px; */
	padding-left: 16px;
	margin-bottom: 8px;
	color: var(--text);
	display: flex;
}

.examples-p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 32px;
	padding-left: 16px;
	color: var(--text);
	display: flex;
}
/* -----------------------Footer------------------------------------- */
.footer-p {
	color: var(--accent);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	margin-top: 16px;
}

.logo-f {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	color: var(--light);
	text-decoration: none;
}

.logo-web {
	width: 44px;
	height: 24px;
	font-family: 'Raleway';
	font-size: 18px;
	line-height: 1.33;
	color: var(--primary-brand);
}

.footer {
	display: flex;
	background-color: var(--dark);
	/* width: 1440px; */
	/* height: 310px; */
	/* margin-right: auto; */
	/* margin-left: auto; */
	padding: 100px;
}

.footer-end {
	width: 264px;
	margin-right: 120px;
}

.social-f {
	display: flex;
	flex-direction: column;
}

.f-social {
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	align-self: center;
}

.f-bg {
	display: flex;
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	justify-content: center;
	margin-right: 16px;
	cursor: pointer;
	/* transition-property: background; */
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.f-bg:hover,
.f-bg:focus {
	background-color: var(--success);
}

.f-bg:last-child {
	margin-right: 0;
}

.social-block {
	display: flex;
}

.social-h3 {
	font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--standatr-white);
		margin-bottom: 16px;
}

.container-footer {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1158px;
	/* outline: 1px solid red; */
	padding-left: 15px;
	padding-right: 15px;
	/* padding-bottom: 120px; */
	dis
}